*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.logo img{
    width: 100%;
    padding: 20px 50px;
}
.container{
    display: flex;
}
.section {
    /* Set initial margin-left value */
    margin-left: 0;
    /* Add transition for smooth animation */
    transition: margin-left 0.3s ease;
}

.section.active {
    margin-left: 16%;
}
nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background: white;
    width: 0px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    z-index: 1;
}
nav.active {
    width: 200px;
}
#notifi_number{
    font-size: 16px;
}
#message_notifi_number{
    font-size: 16px;
}
.fa-bell{
    float: right;
    color: #7b139b;
}
li a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 10px;
}
#logout{
    position: absolute;
    bottom: 0;
    color: rgb(85, 83, 83);
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 10px;
    border: none;
    text-align: justify;
}
#logout:hover{
    background-color: #7b139b;
    color: white;
    transition: all 0.6s;
}
.fa-solid, .fa-regular{
    position: relative;
    width: 30px;
    height: 5px;
    font-size: 20px;
}
li a:hover{
    background-color: #7b139b;
    color: white;
    transition: 0.5s ease-in;
}
.log-out{
    position: absolute;
    bottom: 0;
}

main{
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    padding: 40px;
    width: 100%;
    background-color: #7b139b;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
    color: white;
}
.hamburger-icon{
    font-size: 25px;
    cursor: pointer;
}
.hamburger-icon.active{
    margin-left: 16%;
    transition: .4s;
}
header span p{
    font-size: 30px;
}


.table-container{
    padding: 0 5%;
    margin: 35px auto 0;
    overflow-x: auto;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead{
    background-color: #7b139b;
}
.table thead tr th{
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: black;
    /* background-color: white; */
    padding: 8px;
    text-align: center;
    border: 1px solid #dddddd;
}

@media (max-width: 768px) {
    main{
        width: 100%;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}

.action{
    display: flex;
    justify-content: center;
}
.btn .edit, .btn .decline{
    width: 60px;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
    font-weight: medium;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    margin: 5px;
}
.action{
    display: flex;
}
.edit, .delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.edit:hover, .delete:hover{
    transform: scale(1.3);
    color: #7b139b;
}